@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  --margin-templ-top: 5.7rem;
  --margin-templ-top-desktop: 10.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--off-white);
  font-family: 'Poppins', sans-serif;
}
.template {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url('../../design/mobile-design.jpg');
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: calc((var(--margin-templ-top)) * -1);
}

.container {
  opacity: 0.4;
  background-color: var(--white);
  border-radius: 1.5rem;
  border-bottom-right-radius: 6rem;
  max-width: 345px;
  margin: 0 auto;
  margin-top: var(--margin-templ-top);
  padding: 1rem; /* Add padding to create space inside the container */
  /* min-height: 20rem; */
  max-height: 30.2rem;
}

.datebox {
  width: 100%; /* Use 100% width of the container */
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line if needed */
  justify-content: space-between; /* Add space between input boxes */
  column-gap: 0.25rem;
  text-transform: uppercase;
  padding: 1.8rem 0.65rem;
  font-size: 0.8rem;
}

.input-box {
  flex: 1; /* Distribute available space equally among input boxes */
  max-width: calc(
    33.33% - 0.6rem
  ); /* Limit the maximum width of each input box */
}

.input-box label {
  padding-left: 0.05rem;
}

.input-box:nth-child(2) label {
  padding-left: 0.1rem;
}
.input-box:nth-child(3) label {
  padding-left: 0.3rem;
}

/* Optional: Style the input elements */
input[type='number'] {
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.8rem 0 0.8rem 0.85rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 600;
}

.middle {
  position: relative;
}
.middle-line {
  width: 90%;
  height: 2.3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.1rem solid gray;
  padding: 0;
}

.middle .arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 7%);
  background: var(--purple);
  border-radius: 50%;

  padding: 0.8rem;
  width: 4rem;
  transition: background 0.3s;
}

.middle-btn:hover .arrow {
  background: var(--off-black);
}

.show-date {
  font-size: 3.45rem;
  line-height: 1.1;
  margin-top: 6.2rem;
  font-weight: 800;
  font-style: italic;
  padding-left: 0.5rem;
  padding-bottom: 2rem;
}

.show-date span {
  color: var(--purple);
}

.attribution {
  display: none;
}

@media screen and (min-width: 768px) {
  .template {
    background: url('../../design//desktop-error-empty.jpg');
    width: 1440px;
    height: 960px;
    margin-top: calc((var(--margin-templ-top-desktop)) * -1);
    display: none;
  }

  .container {
    opacity: 0.4;
    border-radius: 1.5rem;
    border-bottom-right-radius: 13rem;
    border: 2px solid red;
    min-width: 53rem;
    margin: 0 auto;
    margin-top: var(--margin-templ-top);
    padding: 1.8rem;
    max-height: 41rem;
  }

  .datebox {
    width: 100%; /* Use 100% width of the container */
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap to the next line if needed */
    justify-content: flex-start;
    column-gap: 2rem;
    text-transform: uppercase;
    padding: 1.8rem 1.8rem 0.9rem;
    font-size: 0.9rem;
  }

  /* DATEBOX */
  .input-box.red {
    color: var(--light-red);
  }
  .input-box.red .error-message {
    opacity: 1;
  }

  .input-box.red input[type='number'] {
    border: 1px solid var(--light-red);
  }

  /* *************** */

  .input-box {
    flex: 1; /* Distribute available space equally among input boxes */
    max-width: 10rem;
  }

  input[type='number'] {
    width: 100%;
    margin-top: 0.3rem;
    padding: 1rem 0 1rem 1.3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 2.1rem;
    font-weight: 600;
    outline: none;
  }

  .middle .arrow {
    left: 90%;
    transform: translate(-50%, -12%);
    padding: 1.2rem;
    width: 6rem;
  }

  .show-date {
    font-size: 7rem;
    margin-top: 5rem;
    font-style: italic;
    padding-left: 2rem;
    line-height: 1;
  }

  .error-message {
    opacity: 0;
    font-weight: normal;
    font-style: italic;
    text-transform: initial;
    margin-top: 0.6rem;
  }
}
